<!-- <div class="dialog dialog--success">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/success-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Transaction Success!</h2>

      <p class="dialog__body-info">Tickets will be distributed sequentially from the 1st of April</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--insufficient">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/fail-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Insufficient Token!</h2>

      <p class="dialog__body-info">Please purchase your BSI token first via Digifinex to continue the transaction process.</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>

      <a href="https://www.digifinex.com/en-ww/trade/USDT/BSI" target="_blank" rel="noreferrer" class="dialog__actions-btn dialog__actions-buy">Buy BSI</a>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--submitted">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/fail-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Submitted</h2>

      <p class="dialog__body-info">You have submitted your exchange request using this ID.</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--otp">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/Icon Verification.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Verification</h2>

      <p class="dialog__body-info">Please enter the verification code that was sent to <b>your_name@mail.com</b></p>

      <input type="text" name="otp" id="otpInput" class="form-control dialog__body-input invalid" placeholder="000-000" />
      <div class="invalid-feedback">Error OTP</div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-otp">Verify</button>

      <p class="dialog__actions-resend">Didn&apos;t receive the email? <button class="dialog__actions-resend-btn">Resend</button></p>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--pin">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">Create a New Pin</h2>

      <p class="dialog__body-info">Please enter a 4-digit number for your pin.</p>

      <input type="text" name="pin" id="pin" class="form-control dialog__body-input" placeholder="0000" />
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-pin">Submit</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--uid">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">How to find your UID number?</h2>

      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="dialog__body-left">
              <img src="/img/dream-concert/uid-guide-01.png" alt="UID guide 01" class="dialog__body-uid-image dialog__body-uid-image--01" />
            </div>
          </div>
          <div class="col-7">
            <div class="dialog__body-right">
              <ol class="dialog__body-steps">
                <li class="dialog__body-steps-item">Login to Digifinex</li>
                <li class="dialog__body-steps-item">Go to My Page</li>
                <li class="dialog__body-steps-item">Your user UID will be below your Username</li>
              </ol>
  
              <img src="/img/dream-concert/uid-guide-02.png" alt="UID guide 02" class="dialog__body-uid-image dialog__body-uid-image--02" />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-uid">Done</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--payee">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <div id="payeeGuideCarousel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="carousel-item-title">Step 1: Choose receiving account</h2>
            <img src="/img/dream-concert/payee-guide-01.png" class="carousel-item-image" alt="" />
          </div>

          <div class="carousel-item">
            <h2 class="carousel-item-title">Step 2 : Click add new account button</h2>
            <img src="/img/dream-concert/payee-guide-02.png" class="carousel-item-image" alt="" />
          </div>

          <div class="carousel-item">
            <h2 class="carousel-item-title">Step 3 : Check the code in history transaction</h2>
            <img src="/img/dream-concert/payee-guide-03.png" class="carousel-item-image" alt="" />
          </div>
        </div>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide="prev">
          <span class="carousel-control-icon carousel-control-icon--prev" aria-hidden="true">
            <img src="/img/dream-concert/Icon S Arrow Left.png" alt="Prev" />
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide="next">
          <span class="carousel-control-icon carousel-control-icon--next" aria-hidden="true">
            <img src="/img/dream-concert/Icon S Arrow Right.png" alt="Next" />
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-payee">Done</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--check-ticket">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">Request your ticket number</h2>

      <div class="form-section">
        <label for="checkTicketEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="checkTicketEmail" placeholder="Enter your email" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-section">
        <label for="checkTicketPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="checkTicketPassword" placeholder="Enter your password" />
        <div class="invalid-feedback"></div>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-check-ticket">Check your ticket</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--check-ticket-result">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">Your Ticket Number</h2>

      <p class="dialog__body-ticket-result">0000000000000</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-check-ticket-result dialog__actions-check-ticket-result--close">Close</button>
      <button class="dialog__actions-btn dialog__actions-check-ticket-result dialog__actions-check-ticket-result--copy">Copy</button>
    </div>
  </div>
</div> -->