<div class="dialog dialog--uid">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">Please enter your OTP</h2>

      <p class="dialog__body-info">Your OTP has been sent to your email.</p>

      <input type="text" name="otp" id="otpInput" class="dialog__body-input invalid" placeholder="000-000" />
      <div class="invalid-feedback">Error OTP</div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-otp">Verify</button>
    </div>
  </div>
</div>