<!-- <div class="dialog dialog--success">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/success-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Transaction Success!</h2>

      <p class="dialog__body-info">Tickets will be distributed sequentially from the 1st of April</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
      <button class="dialog__actions-btn dialog__actions-transmission">Transmission Confirmation</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--exchange-success">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/success-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Success!</h2>

      <p class="dialog__body-info">Please continue with transferring BSI to our Event Account UID <b>(691265286)</b> in <a href="https://www.digifinex.com/en-ww/" target="_blank" rel="noreferrer">Digifinex page.</a></p>

      <div class="dialog__body__withdraw">
        <p class="dialog__body__withdraw-title">Your withdrawal amount</p>

        <div class="dialog__body__withdraw-amount">
          <div class="dialog__body__withdraw-amount__number">0.00</div>

          <button type="button" class="dialog__body__withdraw-amount__copy">Copy</button>
        </div>

        <p class="dialog__body__withdraw-time">
          &#42;Please complete the withdrawal process within 12 hours
        </p>

        <div class="form-check dialog__body__withdraw-copy-check">
          <input class="form-check-input" type="checkbox" value="" id="withdrawAmountCopyCheck">
          <label class="form-check-label" for="withdrawAmountCopyCheck">
            I have copied the withdrawal amount for Digifinex
          </label>
        </div>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
      <a href="https://www.digifinex.com/en-ww/" target="_blank" rel="noreferrer" class="dialog__actions-btn dialog__actions-go-digifinex">Continue to Digifinex</a>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--success-confirmation">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/success-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Successful!</h2>

      <p class="dialog__body-info">Transmission confirmation request has been completed.</p>
      <p class="dialog__body-info dialog__body-info--note">Your ticket will be sent to your email after we have confirmed its validity.</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--no-ticket-history">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/fail-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Not Found</h2>

      <p class="dialog__body-info">Ticket exchange request is not found.</p>
      <p class="dialog__body-info dialog__body-info--note">Please make sure you have entered the correct data, and you have submitted your ticket exchange request.</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--submitted">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/fail-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Request Submitted</h2>

      <p class="dialog__body-info">You have submitted your exchange request using this email address.</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--otp">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/Icon Verification.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title">Verification</h2>

      <p class="dialog__body-info">Please enter the verification code that was sent to <b>your_name@mail.com</b></p>

      <input type="text" name="otp" id="otpInput" class="form-control dialog__body-input invalid" placeholder="000-000" />
      <div class="invalid-feedback">Error OTP</div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-otp">Verify</button>

      <p class="dialog__actions-resend">Didn&apos;t receive the email? <button class="dialog__actions-resend-btn">Resend</button></p>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--uid">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">How to find your UID number?</h2>

      <div class="container">
        <div class="row">
          <div class="col-5">
            <div class="dialog__body-left">
              <img src="/img/dream-concert/uid-guide-01.png" alt="UID guide 01" class="dialog__body-uid-image dialog__body-uid-image--01" />
            </div>
          </div>
          <div class="col-7">
            <div class="dialog__body-right">
              <ol class="dialog__body-steps">
                <li class="dialog__body-steps-item">Login to Digifinex</li>
                <li class="dialog__body-steps-item">Go to My Page</li>
                <li class="dialog__body-steps-item">Your user UID will be below your Username</li>
              </ol>
  
              <img src="/img/dream-concert/uid-guide-02.png" alt="UID guide 02" class="dialog__body-uid-image dialog__body-uid-image--02" />
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-uid">Done</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--payee">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <div id="payeeGuideCarousel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="carousel-item-title">Step 1: Choose receiving account</h2>
            <img src="/img/dream-concert/payee-guide-01.png" class="carousel-item-image" alt="" />
          </div>

          <div class="carousel-item">
            <h2 class="carousel-item-title">Step 2 : Click add new account button</h2>
            <img src="/img/dream-concert/payee-guide-02.png" class="carousel-item-image" alt="" />
          </div>

          <div class="carousel-item">
            <h2 class="carousel-item-title">Step 3 : Check the code in history transaction</h2>
            <img src="/img/dream-concert/payee-guide-03.png" class="carousel-item-image" alt="" />
          </div>
        </div>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide="prev">
          <span class="carousel-control-icon carousel-control-icon--prev" aria-hidden="true">
            <img src="/img/dream-concert/Icon S Arrow Left.png" alt="Prev" />
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#payeeGuideCarousel" data-bs-slide="next">
          <span class="carousel-control-icon carousel-control-icon--next" aria-hidden="true">
            <img src="/img/dream-concert/Icon S Arrow Right.png" alt="Next" />
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-payee">Done</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--check-ticket">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">Transmission Confirmation</h2>

      <div class="form-section">
        <label for="checkTicketEmail" class="form-label">
          Email
        </label>
        <input type="text" class="form-control" id="checkTicketEmail" placeholder="Enter your email" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-section">
        <label for="checkTicketUID" class="form-label">
          UID
          <button class="form-label__guide-btn form-label__guide-btn--check-ticket-uid"><img src="/img/dream-concert/Icon S Help.png" alt="Help" /></button>
        </label>
        <input type="text" class="form-control" id="checkTicketUID" placeholder="Enter your UID" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-section">
        <label for="checkTicketTxID" class="form-label">
          TxID
          <button class="form-label__guide-btn form-label__guide-btn--check-ticket-txid"><img src="/img/dream-concert/Icon S Help.png" alt="Help" /></button>
        </label>
        <input type="text" class="form-control" id="checkTicketTxID" placeholder="Enter your TxID" />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-section">
        <label for="checkTicketPayeeCode" class="form-label">
          Payee code
          <button class="form-label__guide-btn form-label__guide-btn--check-ticket-payee">
            <img src="/img/dream-concert/Icon S Help.png" alt="Help" />
          </button>
        </label>
        <input type="text" class="form-control" id="checkTicketPayeeCode" placeholder="(Optional)" />
        
        <div id="payeeHelp" class="form-text dialog__input-help">
          <span class="dialog__input-help-icon">
            <img src="/img/dream-concert/Icon S Information.png" alt="" />
          </span> 

          <span class="dialog__input-help-text">
            See more information
          </span>

          <div class="dialog__input-help-caution">
            <p class="dialog__input-help-caution__text">&ast; Only to users who set-up to receive the code.</p>
            <p class="dialog__input-help-caution__text">&ast;&ast; Time is required to check this stage. This may delay the time of sending the ticket.</p>
          </div>
        </div>

        <div class="invalid-feedback"></div>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-check-ticket">Submit</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--check-ticket-result">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <h2 class="dialog__body-title">Your Ticket Number</h2>

      <p class="dialog__body-ticket-result">0000000000000</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-check-ticket-result dialog__actions-check-ticket-result--close">Close</button>
      <button class="dialog__actions-btn dialog__actions-check-ticket-result dialog__actions-check-ticket-result--copy">Copy</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--txid">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <div id="txidGuideCarousel" class="carousel slide" data-bs-ride="false" data-bs-wrap="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2 class="carousel-item-title">Step 1: Click Withdraw</h2>
            <img src="/img/dream-concert/txid-guide-01.png" class="carousel-item-image" alt="" />
          </div>

          <div class="carousel-item">
            <h2 class="carousel-item-title">Step 2 : You can find the TxID below the time</h2>
            <img src="/img/dream-concert/txid-guide-02.png" class="carousel-item-image" alt="" />
          </div>
        </div>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#txidGuideCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#txidGuideCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#txidGuideCarousel" data-bs-slide="prev">
          <span class="carousel-control-icon carousel-control-icon--prev" aria-hidden="true">
            <img src="/img/dream-concert/Icon S Arrow Left.png" alt="Prev" />
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#txidGuideCarousel" data-bs-slide="next">
          <span class="carousel-control-icon carousel-control-icon--next" aria-hidden="true">
            <img src="/img/dream-concert/Icon S Arrow Right.png" alt="Next" />
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-txid">Done</button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--dream-concert-poster">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <a href="/<%= lang %>/bsi-dream-concert-event">
        <img src="/img/dream-concert-poster-v2.png" alt="29th Dream Concert with Digifinex" class="dialog__body-poster" />
      </a>

      <button class="dialog__body-close">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>
</div> -->

<!-- <div class="dialog dialog--general-error">
  <div class="dialog__overlay"></div>

  <div class="dialog__window">
    <div class="dialog__body">
      <img src="/img/dream-concert/fail-icon.png" alt="" class="dialog__body-icon" />

      <h2 class="dialog__body-title dialog__body-title--error">Title</h2>

      <p class="dialog__body-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, sequi?</p>
    </div>
    
    <div class="dialog__actions">
      <button class="dialog__actions-btn dialog__actions-close">Close</button>
    </div>
  </div>
</div> -->
