<div class="fb">
  <a href="/<%= lang %>/exchange" class="fb__button">
    <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-chart-line"></i>
    </span>

    <span class="fb__button-content fb__button-text">Buy BSI</span>
  </a>
  <a href="https://wallet.bsin.io" class="fb__button" target="_blank" rel="noreferrer">
    <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-wallet"></i>
    </span>

    <span class="fb__button-content fb__button-text">Wallet</span>
  </a>
</div>