<div class="fb">
  <a href="/<%= lang %>/exchange" class="fb__button">
    <i class="fa-solid fa-chart-line"></i>
  </a>
  <a href="https://wallet.bsin.io" class="fb__button">
    <i class="fa-solid fa-wallet"></i>
  </a>
</div>