<% 
  const { floatingButton: {
    bsi,
    wallet
  } } = data;
%>

<div class="fb">
  <a href="/<%= lang %>/exchange" class="fb__button">
    <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-chart-line"></i>
    </span>

    <span class="fb__button-content fb__button-text"><%- bsi.name %></span>
  </a>
  <a href="https://wallet.bsin.io" class="fb__button" target="_blank" rel="noreferrer">
    <span class="fb__button-content fb__button-icon">
      <i class="fa-solid fa-wallet"></i>
    </span>

    <span class="fb__button-content fb__button-text"><%- wallet.name %></span>
  </a>
  <a href="https://viaje-holdings.gitbook.io/bsi-whitepaper-korean-version/" class="fb__button" target="_blank" rel="noreferrer">
    <span class="fb__button-content fb__button-icon">
      <i class="fa fa-file" aria-hidden="true"></i>
    </span>

    <span class="fb__button-content fb__button-text">Whitepaper</span>
  </a>
</div>