<% 
  const { footer: {
    profile
  } } = data;
%>

<footer class="page-footer">
  <div class="container">
    <div class="row page-footer__row">
      <div class="col-12 col-md-6">
        <div class="page-footer__profile page-footer__section">
          <img src="/img/bsi-logo.png" alt="Bali Social Integrated" class="page-footer__profile-brand" />

          <div class="page-footer__profile-introduction">
            <% for( let i = 0; i < profile.length; i++ ) { %>
              <% const text = profile[i]; %>

              <p class="page-footer__profile-text"><%- text %></p>
            <% } %>  
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3">
        <nav class="page-footer__navigation page-footer__section">
          <h3 class="page-footer__navigation-title page-footer__section-title">Get in Touch</h3>

          <ul class="page-footer__navigation-list">
            <li class="page-footer__navigation-list-item">
              <a href="/<%= lang %>/contact" class="page-footer__navigation-link">Contact Us</a>
            </li>

            <li class="page-footer__navigation-list-item">
              <a href="/<%= lang %>/about" class="page-footer__navigation-link">About Us</a>
            </li>

            <li class="page-footer__navigation-list-item">
              <a href="/<%= lang %>/service" class="page-footer__navigation-link">Service</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-12 col-md-3">
        <div class="page-footer__download page-footer__section">
          <h2 class="page-footer_-download-title page-footer__section-title">Download BSI App</h2>

          <ul class="page-footer__download-list">
            <li class="page-footer__download-list-item">
              <a href="https://www.google.com" class="page-footer__download-link">
                <img src="/img/google-playstore-logo.png" alt="Google Play Store Download" class="page-footer__download-icon" />
              </a>
            </li>

            <li class="page-footer__download-list-item">
              <a href="https://www.google.com" class="page-footer__download-link">
                <img src="/img/apple-store-logo.png" alt="Apple Store Download" class="page-footer__download-icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>