<div class="navbar__price">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
          Latest price: <span class="navbar__price-data">$0</span> <span class="navbar__price-change"></span>
        </p>
      </div>

      <div class="col-12">
        <p>
          Last update: <span class="navbar__price-time">01/01/1970, 00:00:00 AM</span>
        </p>
      </div>
    </div>
  </div>
</div>