<%- include('partials/header.ejs') %>
  <body class="bsi">
    <%- include('partials/navbar.ejs') %>
      <main class="main-container">
        <section class="page-banner">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                <div class="page-banner__info">
                  <h1 class="page-banner__info-title">Banner Text</h1>
      
                  <p class="page-banner__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse saepe temporibus perspiciatis quis aut! Eos culpa ea odio deleniti iure error cumque tempore natus numquam incidunt magnam, et inventore delectus?</p>
      
                  <button type="button" class="page-banner__btn btn">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="company-profile page-section container">
          <div class="row company-profile__row">
            <div class="col-12 col-md-4 company-profile__col">
              <img src="/img/bsi-company-profile.png" alt="BSI company profile" class="company-profile__image" />
            </div>

            <div class="col-12 col-md-8 company-profile__col">
              <div class="company-profile__info">
                <h2 class="company-profile__info-title page-section__title">Company Profile</h2>

                <p class="company-profile__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat! Quis ipsum dicta iure. Maxime enim sequi neque provident porro aperiam, sint quod! Praesentium, dolorem architecto nemo maxime temporibus ipsa?</p>
                <p class="company-profile__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat! Quis ipsum dicta iure. Maxime enim sequi neque provident porro aperiam, sint quod! Praesentium, dolorem architecto nemo maxime temporibus ipsa?</p>
                <p class="company-profile__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat! Quis ipsum dicta iure. Maxime enim sequi neque provident porro aperiam, sint quod! Praesentium, dolorem architecto nemo maxime temporibus ipsa?</p>
              </div>
            </div>
          </div>
        </section>

        <section class="roadmap page-section container">
          <div class="row">
            <div class="col">
              <h2 class="roadmap__title page-section__title">Roadmap</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="roadmap__image"></div>
            </div>
          </div>
        </section>

        <section class="introduction page-section container">
          <div class="row introduction__row">
            <div class="col-12 col-md-4 introduction__col">
              <img src="/img/bsi-introduction-token.png" alt="BSI token introduction" class="introduction__image" />
            </div>

            <div class="col-12 col-md-8 introduction__col">
              <div class="introduction__info">
                <h2 class="introduction__info-title page-section__title">Introduction of Token</h2>

                <p class="introduction__info-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam laborum id saepe exercitationem quas quis dolorem voluptates alias iste ipsum expedita modi itaque nesciunt illum ipsam, libero corporis, esse ex.</p>
                <p class="introduction__info-excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam laborum id saepe exercitationem quas quis dolorem voluptates alias iste ipsum expedita modi itaque nesciunt illum ipsam, libero corporis, esse ex.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="summary page-section container">
          <div class="row">
            <div class="col">
              <h2 class="summary__title page-section__title">Summary of The Token</h2>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="summary__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sit adipisci recusandae maxime doloribus temporibus impedit doloremque laudantium minima tempore perferendis similique dolor ex, repellendus provident possimus minus, illo magnam iste perspiciatis? Fugit, corporis mollitia. Voluptate laudantium eum ratione repellat!</p>
            </div>
          </div>
        </section>
      </main>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
