<%- include('partials/header.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>
      <h1>BSI</h1>

    <!-- <%- include('partials/footer.ejs') %> -->
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
