<%- include('partials/header.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>

    <h1 class="display-3">Contact</h1>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
