<% 
  let currentLangText = '';
  let currentLangFlagName = '';
  switch (lang) {
    case 'en':
      currentLangText = 'EN';
      currentLangFlagName = 'en-lang-flag.png';
      break;
    case 'id':
      currentLangText = 'ID';
      currentLangFlagName = 'id-lang-flag.png';
      break;
    case 'kr':
      currentLangText = 'KO';
      currentLangFlagName = 'ko-lang-flag.png';
      break;
  
    default:
      currentLangText = 'EN';
      currentLangFlagName = 'en-lang-flag.png';
      break;
  }
%>

<%- include('partials/header.ejs', { title: '29th Dream Concert in Busan | Bali Social Integrated' }) %>
  <body class="dream-concert-event <%= lang %>">
    <header class="page-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="page-header__wrapper">
              <div class="primary-logo">
                <img src="/img/dream-concert/Digifinex-logo-color.svg" alt="Digifinex" class="primary-logo__image primary-logo__digifinex" />

                <span class="primary-logo__separator">X</span>
                
                <img src="/img/bsi-logo-v2.png" alt="Bali Social Integrated" class="primary-logo__image primary-logo__bsi" />
              </div>
  
              <div class="viaje-logo">
                <p class="viaje-logo__title">Powered By</p>

                <img src="/img/dream-concert/Viaje-logo-grey.svg" alt="Viaje" class="viaje-logo__image" />
              </div>    
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="main-container">
      <section class="banner">
        <div class="container">
          <div class="row gx-1 banner__ticket">
            <div class="col-12 col-lg-3 banner__ticket-info--mobile">
              <div class="banner__ticket-info">
                <h2 class="banner__ticket-info__title">29<sup>th</sup><br /> Dream Concert In Busan</h2>
  
                <h3 class="banner__ticket-info__subtitle">Metaverse Ticket</h3>
  
                <p class="banner__ticket-info__date">May 27<sup>th</sup>, 2023</p>
              </div>
            </div>

            <div class="col-12 col-lg-3 banner__ticket-info--tablet">
              <div class="banner__ticket-info">
                <h2 class="banner__ticket-info__title">29th Dream Concert In Busan</h2>
  
                <h3 class="banner__ticket-info__subtitle">Metaverse Ticket</h3>
  
                <p class="banner__ticket-info__date">May 27th, 2023</p>
              </div>
            </div>

            <div class="col-12 col-lg-3 banner__ticket-info--desktop">
              <div class="banner__ticket-info-wrapper">
                <div class="banner__ticket-info">
                  <h2 class="banner__ticket-info__title">29<sup>th</sup><br /> Dream Concert In Busan</h2>
    
                  <h3 class="banner__ticket-info__subtitle">Metaverse Ticket</h3>
    
                  <p class="banner__ticket-info__date">May 27<sup>th</sup>, 2023</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-9">
              <div class="banner__ticket-form">
                <div class="row">
                  <div class="col">
                    <div class="banner__ticket-form__header">
                      <h1 class="banner__ticket-form__header-title">29<sup>th</sup> Dream Concert in Busan</h1>

                      <h2 class="banner__ticket-form__header-subtitle">Metaverse Ticket</h2>

                      <p class="banner__ticket-form__header-date">May 27<sup>th</sup>, 2023</p>
                    </div>
                  </div>
                </div>

                <div class="row banner__ticket-form__discount-row">
                  <div class="col">
                    <div class="banner__ticket-form__discount">
                      <p class="banner__ticket-form__discount-digifinex">Purchase <b>BSI</b> at <img src="/img/dream-concert/Digifinex-logo-color.svg" alt="Digifinex" class="banner__ticket-form__discount-logo" /> 
                        and get <b>50% Discount</b> <span class="banner__ticket-form__discount-box">$5 → <span class="banner__ticket-form__discount-amount">$2.5</span></span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="banner__ticket-form__info">
                      <p class="banner__ticket-form__info-uid">BSI Event Account UID: 691265286</p>
                      <p class="banner__ticket-form__info-note">Buy <b>$<span class="banner__ticket-form__info-price">0.25</span></b> worth BSI token from DIGIFINEX and send it to the BSI Event Account UID</p>
                    </div>
                  </div>
                </div>
  
                <div class="banner__ticket-form__separator"></div>
  
                <div class="row gx-1 banner__ticket-form__form">
                  <div class="col-12 col-md-4 col-lg-3">
                    <div class="banner__ticket-form__form-section">
                      <label for="uidInput" class="form-label">User UID <button class="form-label__guide-btn form-label__guide-btn--uid"><img src="/img/dream-concert/Icon S Help.png" alt="Help" /></button></label>
                      <input type="text" class="form-control banner__ticket-form__input" id="uidInput" placeholder="Enter user UID" />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-4 col-lg-5">
                    <div class="banner__ticket-form__form-section">
                      <label for="emailInput" class="form-label">Your email</label>
                      <input type="email" class="form-control banner__ticket-form__input" id="emailInput" placeholder="Enter your email" />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="banner__ticket-form__form-section">
                      <label for="passwordInput" class="form-label">Your password</label>
                      <input type="password" class="form-control banner__ticket-form__input" id="passwordInput" placeholder="Enter your password" />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
  
                  <!-- <div class="col-12 col-lg-2">
                    <div class="banner__ticket-form__form-section">
                      <label for="payeeInput" class="form-label">Payee code <button class="form-label__guide-btn form-label__guide-btn--payee"><img src="/img/dream-concert/Icon S Help.png" alt="Help" /></button></label>
                      <input type="text" class="form-control banner__ticket-form__input" id="payeeInput" placeholder="000-000" />
                      <div id="payeeHelp" class="form-text banner__ticket-form__input-help">
                        <span class="banner__ticket-form__input-help-icon">
                          <img src="/img/dream-concert/Icon S Information.png" alt="" />
                        </span> 

                        <span class="banner__ticket-form__input-help-text">
                          See more information
                        </span>

                        <div class="banner__ticket-form__input-help-caution">
                          <p class="banner__ticket-form__input-help-caution__text">&ast; Only to users who set-up to receive the code.</p>
                          <p class="banner__ticket-form__input-help-caution__text">&ast;&ast; Time is required to check this stage. This may delay the time of sending the ticket.</p>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
  
                <div class="banner__ticket-form__separator"></div>
  
                <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-8 col-lg-4">
                    <div class="banner__ticket-form__form-section banner__ticket-form__form-amount">
                      <label for="amountInput" class="form-label">Add the number of tickets</label>
                      <input type="number" min="1" class="form-control banner__ticket-form__input banner__ticket-form__input--amount" id="amountInput"" />
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
  
                  <div class="col-12 col-md-4 col-lg-4">
                    <div class="banner__ticket-form__total">
                      <div class="banner__ticket-form__total-top">
                        <p class="banner__ticket-form__total-title">Total</p>
    
                        <p class="banner__ticket-form__total-amount"><span class="banner__ticket-form__total-bsi">0</span> BSI</p>
                      </div>
  
                      <div class="banner__ticket-form__total-bottom">
                        <p class="banner__ticket-form__total-dollar">
                          $0.00
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-lg-4">
                    <div class="banner__ticket-form__unit-price">
                      <p class="banner__ticket-form__unit-price-title">Ticket per unit price</p>

                      <p class="banner__ticket-form__unit-price-amount">
                        <span class="banner__ticket-form__unit-price-amount">0</span> BSI
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="banner__footer">
            <div class="banner__footer-note">
              <p class="banner__footer-note-text">&ast;Tickets will be distributed sequentially from the 1st of April.</p>
              <p class="banner__footer-note-text">&ast;&ast;We inform to all users who participate in this event will also be automatically registered in the BSI Wallet</p>
            </div>

            <div class="banner__footer-actions">
              <a href="https://www.digifinex.com/en-ww/trade/USDT/BSI" target="_blank" rel="noreferrer" class="banner__footer-actions-btn banner__footer-actions-buy">Buy BSI</a>
      
              <button class="banner__footer-actions-btn banner__footer-actions-exchange">Exchange</button>

              <button class="banner__footer-actions-btn banner__footer-actions-check-ticket">Transmission Confirmation</button>
            </div>
          </div>
        </div>
      </section>
  
      <section class="panel">
        <div class="container">
          <div class="panel__info">
            <p class="panel__info-digifinex">Purchase BSI at <img src="/img/dream-concert/Digifinex-logo-color.svg" alt="Digifinex" class="panel__info-digifinex__logo" /><br /> 
              and get <b>50% Discount</b> <span class="panel__info-discount">$5 → <span class="panel__info-discount__amount">$2.5</span></span>
            </p>
          </div>
    
          <!-- <div class="panel__partners"></div> -->
    
          <div class="panel__datetime">
            <div class="panel__datetime-info">
              <p class="panel__datetime-info__title">Concert starts in</p>
    
              <p class="panel__datetime-info__date">May 27<sup>th</sup>, 2023</p>
            </div>
    
            <div class="panel__datetime-timer">
              <div class="panel__datetime-timer__item">
                <p class="panel__datetime-timer__digit panel__datetime-timer__digit-days">00</p>
                <p class="panel__datetime-timer__name">Days</p>
              </div>

              <div class="panel__datetime-timer__item">
                <p class="panel__datetime-timer__colon">:</p>
              </div>

              <div class="panel__datetime-timer__item">
                <p class="panel__datetime-timer__digit panel__datetime-timer__digit-hours">00</p>
                <p class="panel__datetime-timer__name">Hours</p>
              </div>

              <div class="panel__datetime-timer__item">
                <p class="panel__datetime-timer__colon">:</p>
              </div>

              <div class="panel__datetime-timer__item">
                <p class="panel__datetime-timer__digit panel__datetime-timer__digit-minutes">00</p>
                <p class="panel__datetime-timer__name">Minutes</p>
              </div>

              <div class="panel__datetime-timer__item">
                <p class="panel__datetime-timer__colon">:</p>
              </div>

              <div class="panel__datetime-timer__item">
                <p class="panel__datetime-timer__digit panel__datetime-timer__digit-seconds">00</p>
                <p class="panel__datetime-timer__name">Seconds</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="notes">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-2">
              <h2 class="notes__title">
                Notes
              </h2>
            </div>

            <div class="col-12 col-lg-10">
              <div class="notes__content">
                <p class="notes__content-number">1</p>
                <p class="notes__content-text">Purchase according to the fluctuating BSI price</p>
              </div>
  
              <div class="notes__content">
                <p class="notes__content-number">2</p>
                <p class="notes__content-text">DIGIFINEX Event scheduled on <br />March 31 - April 26</p>
              </div>
  
              <div class="notes__content">
                <p class="notes__content-number">3</p>
                <p class="notes__content-text">Event tickets would be sent weekly after the participation.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="artist">
        <div class="container">
          <div class="row artist__row artist__row-title">
            <div class="col-12">
              <div class="artist__title">Artists</div>
            </div>
          </div>

          <div class="row artist__row artist__row-items">
            <div class="col-12 col-md-6 col-lg-4 artist__col" >
              <div class="artist__item">?</div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 artist__col">
              <div class="artist__item">?</div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 artist__col">
              <div class="artist__item">?</div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="video">
        <div class="container">
          <video controls muted>
            <source src="/video/DreamConcert 29th Official Metaverse LiveStreaming Service_720p.mp4" type="video/mp4" />
          </video>
        </div>
      </section>
  
      <section class="dream-concert">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-7">
              <div class="dream-concert__info">
                <h2 class="dream-concert__info-title">What is Dream Concert?</h2>
    
                <p class="dream-concert__info-text">Dream Concert is Korea&apos;s longest-running, largest-scale performance by top K-POP stars This is known to be the K-POP concert that fans all over the world are looking forward to the most. This year&apos;s Dream Concert is operating in a Metaverse world, in a real-time online live-streaming way wherein all K-POP fans around the world could participate and enjoy at the same time. Come and join our concert with your avatar! Don&apos;t miss this chance! See you up there.</p>
    
                <button class="dream-concert__info-buy">
                  Buy Ticket 
                  <span class="dream-concert__info-buy-icon">
                    <img src="/img/dream-concert/Icon S Arrow Circle Up White.png" alt="Buy" class="dream-concert__info-buy-image" />
                  </span>
                </button>
              </div>
            </div>
    
            <div class="col-12 col-lg-5">
              <div class="dream-concert__slider">
                <img src="/img/dream-concert/Gallery01.jpg" alt="" class="dream-concert__slider-image" />

                <!-- <div class="dream-concert__slider-items">
                  <img src="/img/dream-concert/Gallery01.jpg" alt="" class="dream-concert__slider-item" />
                  <img src="/img/dream-concert/Gallery01.jpg" alt="" class="dream-concert__slider-item" />
                  <img src="/img/dream-concert/Gallery01.jpg" alt="" class="dream-concert__slider-item" />
                  <img src="/img/dream-concert/Gallery01.jpg" alt="" class="dream-concert__slider-item" />
                  <img src="/img/dream-concert/Gallery01.jpg" alt="" class="dream-concert__slider-item" />
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="about-bsi">
        <div class="container">
          <div class="row">
            <!-- Short content -->
            
            <div class="col-12 col-md-5 about-bsi__col about-bsi__col--token-short">
              <div class="about-bsi__token">
                <img src="/img/dream-concert/Coin.svg" alt="BSI Coin" class="about-bsi__token-image" />
              </div>
            </div>
  
            <div class="col-12 col-md-7 about-bsi__col about-bsi__col--info-short">
              <div class="about-bsi__info">
                <h2 class="about-bsi__info-title">About BSI</h2>
        
                <p class="about-bsi__info-text">BSI Token is a partner of the 29th Dream Concert, and the BSI project is an eco-friendly project that is part of its plan to create eco-friendly performances without paper tickets, and it is agreed to work with Dream Concert every year in the future.</p>
                <p class="about-bsi__info-text">Dream Concert is in its 29th year and is famous for being the largest among KPOP concerts.This Dream Concert will be held as a concert for...</p>
        
                <button class="about-bsi__info-btn">
                  Read more
                  <span class="about-bsi__info-btn-icon">
                    <img src="/img/dream-concert/Icon S Arrow Circle Down.png" alt="More" class="about-bsi__info-btn-image" />
                  </span>
                </button>
              </div>
            </div>

            <!-- Long content -->

            <div class="col-12 about-bsi__col about-bsi__col--token-long">
              <div class="about-bsi__token">
                <img src="/img/dream-concert/Coin.svg" alt="BSI Coin" class="about-bsi__token-image" />
              </div>
            </div>
  
            <div class="col-12 about-bsi__col about-bsi__col--info-long">
              <div class="about-bsi__info">
                <h2 class="about-bsi__info-title">About BSI</h2>
        
                <p class="about-bsi__info-text">BSI Token is a partner of the 29th Dream Concert, and the BSI project is an eco-friendly project that is part of its plan to create eco-friendly performances without paper tickets, and it is agreed to work with Dream Concert every year in the future.</p>
                <p class="about-bsi__info-text">Dream Concert is in its 29th year and is famous for being the largest among KPOP concerts.This Dream Concert will be held as a concert for Korea's Busan Expo, and it is expected that more popular teams will appear than ever.</p>
                <p class="about-bsi__info-text">The BSI Foundation has global online live broadcasting rights for Dream Concert, and it is attracting attention from global KPOP fans by allowing them to intuitively watch live performances in the metaverse environment.We are currently preparing for the second concert in October 2023, and we want to reduce paper tickets for the environment through real-time online broadcasting at least twice a year so that fans around the world can enjoy it at the same time.</p>
                <p class="about-bsi__info-text">In addition, the BSI project is carrying out eco-friendly programs in tourist destinations around the world, and representatively, electric motorcycles in Bali, Indonesia; a project to reduce environmental pollution through electric bicycles is currently in operation and plans to carry out projects in Jeju Island in Korea, Cebu in the Philippines, and Pattaya in Thailand in 2023.</p>
                <p class="about-bsi__info-text">The BSI Foundation is designed to reflect the sales generated both online and offline in token transactions on the exchange so that the sales of the ecosystem work on the exchange. Through this, the sales of the ecosystem are made in the direction of maintaining the token price.</p>
                <p class="about-bsi__info-text">In the case of the Dream Concert, the sales generated from early bird and main ticket purchases are also planned to be reflected on the exchange.</p>
                <p class="about-bsi__info-text">However, above all, exchanging tickets through direct token purchase is the cheapest purchase method.<br />We hope that many people can enjoy KPOP through the Dream Concert Metaverse live performances and enjoy KPOP performances at a cheaper price by purchasing tokens.</p>

                <button class="about-bsi__info-btn">
                  Got it
                  <span class="about-bsi__info-btn-icon">
                    <img src="/img/dream-concert/Icon S Arrow Circle Up.png" alt="Hide" class="about-bsi__info-btn-image" />
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <section class="notice">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="notice__titles">
                <h2 class="notice__title">Notice</h2>
          
                <h3 class="notice__subtitle">Ticket Redemption Procedure</h3>
              </div>
            </div>
    
            <div class="col-12 col-lg-7">
              <div class="notice__ticket-procedure">
                <div class="notice__ticket-procedure__item">
                  <div class="notice__ticket-procedure__item-number">
                    <p>1</p>
                  </div>

                  <div class="notice__ticket-procedure__item-text">
                    <p>Register in DIGIFINEX</p>
                  </div>
                </div>

                <div class="notice__ticket-procedure__item">
                  <div class="notice__ticket-procedure__item-number">
                    <p>2</p>
                  </div>

                  <div class="notice__ticket-procedure__item-text">
                    <p>Insert User UID, Email, and Password and click Exchange</p>
                  </div>
                </div>

                <div class="notice__ticket-procedure__item">
                  <div class="notice__ticket-procedure__item-number">
                    <p>3</p>
                  </div>

                  <div class="notice__ticket-procedure__item-text">
                    <p>Enter the code sent to your email</p>
                  </div>
                </div>

                <div class="notice__ticket-procedure__item">
                  <div class="notice__ticket-procedure__item-number">
                    <p>4</p>
                  </div>

                  <div class="notice__ticket-procedure__item-text">
                    <p>After the registration is completed, purchase BSI according to the number of tickets.</p>
                  </div>
                </div>

                <div class="notice__ticket-procedure__item">
                  <div class="notice__ticket-procedure__item-number">
                    <p>5</p>
                  </div>

                  <div class="notice__ticket-procedure__item-text">
                    <p>Transfer / Send the purchased BSI to the BSI Event Account UID: : 691265286</p>
                  </div>
                </div>

                <div class="notice__ticket-procedure__item">
                  <div class="notice__ticket-procedure__item-number">
                    <p>6</p>
                  </div>

                  <div class="notice__ticket-procedure__item-text">
                    <p>Click the Transmission Confirmation button and insert your User UID, TxID and Payee Code</p>
                  </div>

                  <div class="notice__ticket-procedure__item-note">
                    <p>&ast;Only for users who have set to receive the payee code</p>
                  </div>
                </div>

                <div class="notice__ticket-procedure__item">
                  <div class="notice__ticket-procedure__item-number">
                    <p>7</p>
                  </div>

                  <div class="notice__ticket-procedure__item-text">
                    <p>Register your ticket number that is sent sequentially in <a href="https://www.lavata.tv/" target="_blank" rel="noreferrer">LAVATA</a></p>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-12 col-lg-5">
              <div class="notice__procedure">
                <!-- <div class="notice__new-user">
                  <h3 class="notice__new-user__title">Steps to purchase the ticket:</h3>
      
                  <ol class="notice__new-user__list">
                    <li class="notice__new-user__list-item">Register / Log In to DIGIFINEX.</li>
                    <li class="notice__new-user__list-item">Purchase as much BSI as you want.</li>
                    <li class="notice__new-user__list-item">Send it to specified BSI Event Account UID.</li>
                    <li class="notice__new-user__list-item">Insert your User UID, Email, Password, payee code, and the amount of the ticket you wish.</li>
                    <li class="notice__new-user__list-item">When you click exchange button, the verification code will be sent to your email.</li>
                    <li class="notice__new-user__list-item">After you input the verification code, you are successfully registered in the Dream Concert. Tickets will be sent sequentially.</li>
                  </ol>
                </div> -->
  
                 <div class="notice__note">
                  <h3 class="notice__note-title">Note:</h3>
                  
                  <ul class="notice__note-list">
                    <li class="notice__note-list-item">We would like to inform that all users who participate in this event will also be automatically registered in the BSI Wallet.</li>
                    <li class="notice__note-list-item">There might be fluctuation in the amount of BSI according to the real-time rate.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="partners">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="partners__title">Partners</div>
            </div>
          </div>

          <!-- =============== Partners Mobile Version =============== -->

          <div class="row gy-3 partners__row partners__row-items partners__row-items--mobile">
            <div class="col">
              <div class="row">
                <div class="col-5">
                  <div class="partners__item">
                    <img src="/img/dream-concert/Logo Viaje.png" alt="Viaje" class="partners__item-logo partners__item-logo--viaje" />
                  </div>
                </div>

                <div class="col-5">
                  <div class="partners__item">
                    <img src="/img/dream-concert/Logo Chabot Planet.png" alt="Chatbot Planet" class="partners__item-logo partners__item-logo--chatbot" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="partners__item">
                    <img src="/img/dream-concert/Digifinex-logo-color.svg" alt="Digifinex" class="partners__item-logo partners__item-logo--digifinex" />
                  </div>
                </div>

                <div class="col-6">
                  <div class="partners__item">
                    <img src="/img/dream-concert/Logo Lavata.png" alt="Lavata" class="partners__item-logo partners__item-logo--lavata" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- =============== Partners Desktop Version =============== -->

          <div class="row gx-lg-5 justify-content-center partners__row partners__row-items partners__row-items--desktop">
            <div class="col-6 col-md-3 col-lg-2">
              <div class="partners__item">
                <img src="/img/dream-concert/Logo Viaje.png" alt="Viaje" class="partners__item-logo partners__item-logo--viaje" />
              </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
              <div class="partners__item">
                <img src="/img/dream-concert/Logo Chabot Planet.png" alt="Chatbot Planet" class="partners__item-logo partners__item-logo--chatbot" />
              </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
              <div class="partners__item">
                <img src="/img/dream-concert/Logo Lavata.png" alt="Lavata" class="partners__item-logo partners__item-logo--lavata" />
              </div>
            </div>

            <div class="col-6 col-md-3 col-lg-2">
              <div class="partners__item">
                <img src="/img/dream-concert/Digifinex-logo-color.svg" alt="Digifinex" class="partners__item-logo partners__item-logo--digifinex" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="fb">
        <div class="fb__inquiries">
          <button class="fb__inquiries-btn fb__inquiries-btn--initial">
            <span class="fb__inquiries-icon">
              <img src="/img/dream-concert/Icon S Inquiries.png" alt="Inquiries" class="fb__inquiries-icon-image" />
            </span> 
            <span class="fb__inquiries-text">
              For more inquiries
            </span>
          </button>

          <a href="https://t.me/CFBSI" target="_blank" rel="noreferrer" class="fb__inquiries-btn fb__inquiries-btn--telegram">
            <span class="fb__inquiries-text">
              Telegram community
            </span>
            <span class="fb__inquiries-icon">
              <img src="/img/dream-concert/Icon S Telegram.png" alt="Telegram" class="fb__inquiries-icon-image" />
            </span> 
          </a>
        </div>
      </section>
    </main>

    <footer class="page-footer">
      <div class="container">
        <p class="page-footer__copyright">Copyright&copy; 2023 BSI Bali Social Integrated. All rights reserved.</p>
      </div>
    </footer>

    <%- include('partials/js-libraries.ejs') %>
    <script src="/javascripts/dream-concert.js"></script>
  </body>
</html>
