<%- include('partials/header.ejs') %>
  <body class="exchange">
    <%- include('partials/navbar.ejs') %>

    <main class="main-container">
      <header class="page-header">
        <h1 class="page-header__title">Exchange</h1>
  
        <h2 class="page-header__subtitle page-header__subtitle--one">You Can Buy Now</h2>
        <h2 class="page-header__subtitle page-header__subtitle--two">We Are Listing On</h2>
      </header>

      <section class="exchange-list container">
        <div class="exchange-list__accordion accordion" id="exchangeAccordion">
          <div class="exchange-list__accordion-item accordion-item">
            <div class="exchange-list__accordion-header">
              <div class="exchange-list__accordion-platform" id="exchangeOneHeading">
                <h3>Digifinex</h3>
              </div>

              <button type="button" class="exchange-list__accordion-trigger btn" data-bs-toggle="collapse" data-bs-target="#exchangeOne" aria-expanded="false" aria-controls="exchangeOne">
                More Info
              </button>
            </div>

            <div id="exchangeOne" class="exchange-list__accordion-collapse accordion-collapse collapse show" aria-labelledby="exchangeOneHeading" data-bs-parent="#exchangeAccordion">
              <div class="exchange-list__accordion-body accordion-body">
                <div class="exchange-list__accordion-text">
                  <p>Digifinex</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae quos unde fugit totam cum reprehenderit aspernatur sequi facere eligendi quaerat maiores ad possimus similique dicta saepe, quas consequuntur perferendis veritatis?</p>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, culpa? Aut nemo maiores voluptatem nostrum!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto facere eum, nisi maiores dolores laboriosam reprehenderit. Similique commodi animi placeat?</p>
                </div>

                <div class="exchange-list__accordion-control">
                  <button type="button" class="exchange-list__accordion-buy btn">Buy BSI</button>
                </div>
              </div>
            </div>
          </div>

          <div class="exchange-list__accordion-item accordion-item">
            <div class="exchange-list__accordion-header">
              <div class="exchange-list__accordion-platform" id="exchangeTwoHeading">
                <h3>Hotbit</h3>
              </div>

              <button type="button" class="exchange-list__accordion-trigger btn" data-bs-toggle="collapse" data-bs-target="#exchangeTwo" aria-expanded="false" aria-controls="exchangeTwo">
                More Info
              </button>
            </div>

            <div id="exchangeTwo" class="exchange-list__accordion-collapse accordion-collapse collapse" aria-labelledby="exchangeTwoHeading" data-bs-parent="#exchangeAccordion">
              <div class="exchange-list__accordion-body accordion-body">
                <div class="exchange-list__accordion-text">
                  <p>Hotbit</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae quos unde fugit totam cum reprehenderit aspernatur sequi facere eligendi quaerat maiores ad possimus similique dicta saepe, quas consequuntur perferendis veritatis?</p>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, culpa? Aut nemo maiores voluptatem nostrum!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto facere eum, nisi maiores dolores laboriosam reprehenderit. Similique commodi animi placeat?</p>
                </div>

                <div class="exchange-list__accordion-control">
                  <button type="button" class="exchange-list__accordion-buy btn">Buy BSI</button>
                </div>
              </div>
            </div>
          </div>

          <div class="exchange-list__accordion-item accordion-item">
            <div class="exchange-list__accordion-header">
              <div class="exchange-list__accordion-platform" id="exchangeThreeHeading">
                <h3>Coinsbit</h3>
              </div>

              <button type="button" class="exchange-list__accordion-trigger btn" data-bs-toggle="collapse" data-bs-target="#exchangeThree" aria-expanded="false" aria-controls="exchangeThree">
                More Info
              </button>
            </div>

            <div id="exchangeThree" class="exchange-list__accordion-collapse accordion-collapse collapse" aria-labelledby="exchangeThreeHeading" data-bs-parent="#exchangeAccordion">
              <div class="exchange-list__accordion-body accordion-body">
                <div class="exchange-list__accordion-text">
                  <p>Coinsbit</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae quos unde fugit totam cum reprehenderit aspernatur sequi facere eligendi quaerat maiores ad possimus similique dicta saepe, quas consequuntur perferendis veritatis?</p>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, culpa? Aut nemo maiores voluptatem nostrum!</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto facere eum, nisi maiores dolores laboriosam reprehenderit. Similique commodi animi placeat?</p>
                </div>

                <div class="exchange-list__accordion-control">
                  <button type="button" class="exchange-list__accordion-buy btn">Buy BSI</button>
                </div>
              </div>
            </div>
          </div>

          <div class="exchange-list__accordion-item accordion-item">
            <div class="exchange-list__accordion-header">
              <div class="exchange-list__accordion-platform" id="exchangeFourHeading">
                <h3>CoinGecko</h3>
              </div>

              <button type="button" class="exchange-list__accordion-trigger btn" data-bs-toggle="collapse" data-bs-target="#exchangeFour" aria-expanded="false" aria-controls="exchangeFour">
                More Info
              </button>
            </div>

            <div id="exchangeFour" class="exchange-list__accordion-collapse accordion-collapse collapse" aria-labelledby="exchangeFourHeading" data-bs-parent="#exchangeAccordion">
              <div class="exchange-list__accordion-body accordion-body">
                <p>CoinGecko</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae quos unde fugit totam cum reprehenderit aspernatur sequi facere eligendi quaerat maiores ad possimus similique dicta saepe, quas consequuntur perferendis veritatis?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, culpa? Aut nemo maiores voluptatem nostrum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto facere eum, nisi maiores dolores laboriosam reprehenderit. Similique commodi animi placeat?</p>
              </div>
            </div>
          </div>

          <div class="exchange-list__accordion-item accordion-item">
            <div class="exchange-list__accordion-header">
              <div class="exchange-list__accordion-platform" id="exchangeFiveHeading">
                <h3>CoinMarketCap</h3>
              </div>

              <button type="button" class="exchange-list__accordion-trigger btn" data-bs-toggle="collapse" data-bs-target="#exchangeFive" aria-expanded="false" aria-controls="exchangeFive">
                More Info
              </button>
            </div>

            <div id="exchangeFive" class="exchange-list__accordion-collapse accordion-collapse collapse" aria-labelledby="exchangeFiveHeading" data-bs-parent="#exchangeAccordion">
              <div class="exchange-list__accordion-body accordion-body">
                <p>CoinMarketCap</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae quos unde fugit totam cum reprehenderit aspernatur sequi facere eligendi quaerat maiores ad possimus similique dicta saepe, quas consequuntur perferendis veritatis?</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, culpa? Aut nemo maiores voluptatem nostrum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto facere eum, nisi maiores dolores laboriosam reprehenderit. Similique commodi animi placeat?</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>



    <%- include('partials/footer.ejs') %>
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
