<%- include('partials/header.ejs') %>
  <body class="service">
    <%- include('partials/navbar.ejs') %>

    <section id="viaje-ecosystem" class="viaje_ecosystem">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="big-title text-center">
              VIAJE ECOSYSTEM
            </h4>
            <p class="small text-center">The 'BSI Ecosystem' refers to customers and partners who use the BSI token, the VIAJE platform, and services to power the ecosystem. Bali Social Integrated will create an environment where every part of the ecosystem can move and thrive to achieve greater benefits.The 'BSI Ecosystem' refers to customers and partners who use the BSI token, the VIAJE platform, and services to power the ecosystem. Bali Social Integrated will create an environment where every part of the ecosystem can move and thrive to achieve greater benefits.
            </p>
          </div>
        </div>
        <div class="container">
          <div class="row text-center viaje_ecosystem_picture">
            <div class="col-lg">
              <img src="/img/viaje ecosystem.png" alt="viaje-ecosystem" class="viaje_ecosystem_icon"/>
            </div>
          </div>
        </div>
    </section>


    <section id="viaje-platform" class="viaje_platform">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="big-title text-center">
              VIAJE PLATFORM
            </h4>
            <p class="small text-center">
              Carbon-Free VIAJE, a business line by Bali Social Integrated, caters to every payment need by seamlessly integrating itself with BSI tokens and fiat currencies. Users can add BSI tokens or fiat currencies (using a credit card and other payment networks) and use them through VIAJE apps such as VIAJEPAY in all affiliated stores.
            </p>

            <p class="small text-center">
              Travelers can enjoy a simplified payment network and avail of various services such as booking airlines, leisure/travel activities, hotels, renting electric motorcycles or purchasing food & drinks, shopping, etc.
            </p>
          </div>
        </div>

        <div class="row text-center viaje_platform_page">
          <div class="col-md-12">
            <img src="/img/viaje platform.png" alt="viaje_platform" class="viaje_platform_picture"/>
          </div>
        </div>
    </section>

    
 <section class="meta_concert_illust">
  <div class="container">
    <div class="row meta_concert_prop">
      <div class="col-md-6 meta_img">
        <img class="meta-concert-img" src="/img/meta-concert-illust.png" alt="meta-concert-illust">
      </div>
      <div class="col">
        <h4 class="big-title">VIAJE META CONCERT</h4>
        <p class="small-1">BSI Foundation signs an agreement with META VIAJE (Dev Unlimit) to provide Dream Concert, the largest K-POP concert co-organized by the Ministry of Culture, Sports, and Tourism of Korea and the Celebrity Producers Association, in the 'BSI Ecosystem' which create by BSI Altar Metaverse Space Metaism.
        </p>
        <p class="small-1">
          It will be introduced via metaverse (based on motion-on-touch) and aims to invite 300,000 to 1 million users every concert.  By promoting the advantages of K-POP and Korea's IT technology to the world, K-POP fans in Korea and around the world are able to attend the Dream Concert together via the metaverse as if they were enjoying the view of the real concert. There is also space for real-time chat and communication with the automatic translation function.
        </p>

          
      </div>
    </div>
  </div>
 </section>



 <!-- <section class="metaverse page-section">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col">
        <img src="/img/meta-concert-illust.png" alt="Metaverse" class="metaverse__img">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <div class="metaverse__info">
          <h2 class="metaverse__info-title">VIAJE META CONCERT</h2>
          <p class="metaverse__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, possimus quaerat? Accusantium voluptatem doloremque vero et harum omnis, modi fugiat quam, cumque eligendi eveniet obcaecati ratione in aperiam ad officia.</p>
          <p class="metaverse__info-excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, possimus quaerat? Accusantium voluptatem doloremque vero et harum omnis, modi fugiat quam, cumque eligendi eveniet obcaecati ratione in aperiam ad officia.</p>
        </div>
      </div>
      <div class="col-12 col-md-5"></div>
    </div>
  </div>
</section> -->

 



    <!-- <%- include('partials/footer.ejs') %> -->
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
