<%- include('partials/header.ejs') %>
  <body class="service">
    <%- include('partials/navbar.ejs') %>

    <section class="text1">
      <div class="container">
        <div class="row text_viaje">
          <div class="col-12">
            <h1 class="title">VIAJE ECOSYSTEM</h1>
            <p class="small-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat vel fuga nemo itaque, iste libero laborum reiciendis repellendus veritatis quisquam, pariatur ab voluptate quo ut. Possimus doloribus accusantium numquam perspiciatis.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- <%- include('partials/footer.ejs') %> -->
    <%- include('partials/js-libraries.ejs') %>
  </body>
</html>
