@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$primary-color: #3962f5;
$primary-color-dark-1: #04213f;
$light-color: #fff;
$body-color: #333;
$border-radius: 8px;
$gradient-from: #08233f;
$gradient-to: #246295;

@mixin montserrat {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: $border-radius;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
}

@mixin primary-button {
  @include button();
  background-color: $primary-color;
  color: white;
}

@mixin light-button {
  @include button();
  background-color: $light-color;
  color: $body-color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Temporary placeholder box. Delete when it's no longer needed.
@mixin placeholder-box {
  width: 100%;
  height: 200px;
  background-color: #aaa;
  border-radius: $border-radius;

  &::after {
    @include flex-center();
    width: 100%;
    height: 100%;
    content: 'Placeholder Image';
  }
}

@mixin page-gradient {
  background: $primary-color;
  background: linear-gradient(180deg, $gradient-from 0%, $gradient-to 100%);
}

/* ===============Breakpoints =============== */

@mixin media-breakpoint-sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin media-breakpoint-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-breakpoint-lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-breakpoint-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin media-breakpoint-xxl {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin media-breakpoint-xxxl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
