@import 'config';

.about {
  @include page-gradient();
  color: white;

  .main-container {
    padding-top: 0;
  }

  .group-company {
    position: relative;
    padding-top: 3rem;
    // padding-bottom: 3rem;
    background-color: transparent;
    // background: url('/img/building-background.jpg') center/cover no-repeat;

    &::before {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($gradient-from, 0.85);
      // background: $primary-color;
      // background: linear-gradient(0deg, $gradient-from 10%, transparent 30%);
      // opacity: 0.9;
      content: '';
    }

    &__col {
      z-index: 2;
    }

    &__title {
      text-align: center;
    }

    &__body {
      text-align: center;
    }

    &__image {
      width: 100%;
      height: auto;
    }
  }

  .bsi-team {
    &__title {
      text-align: center;
    }

    &__item {
      position: relative;
      width: 100%;
      height: calc(340px + 14vw);
      margin-bottom: 1rem;
      padding: 1.8rem 1.4rem;
      background-color: rgba(black, 0.8);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      color: white;

      &--danniel {
        background-image: url('/img/portrait-pak-danniel.png');
      }

      &--juleo {
        background-image: url('/img/portrait-pak-juleo.png');
        background-position: 50% 100%;
        background-size: 130%;
      }

      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.2);
        border-radius: $border-radius;
      }

      &-info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
        z-index: 2;
        width: 100%;
        height: 100%;
      }

      &-name {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  .partnership {
    &__title {
      text-align: center;
    }

    &__images {
      text-align: center;
    }

    &__image {
      width: 100%;

      &--mbi {
        width: 40%;
        max-width: 530px;
      }

      &--partners {
        width: 100%;
        max-width: 1400px;
      }
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-sm {
  .about {
    .bsi-team {
      &__row {
        &--images {
          justify-content: center;
        }
      }

      &__item {
        &--juleo {
          background-position: 50% 50%;
          background-size: 160%;
        }
      }
    }
  }
}

@include media-breakpoint-md {
  .about {
    .group-company {
      &__text-row,
      &__image-row {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .bsi-team {
      &__item {
        height: calc(340px + 2vw);
      }
    }
  }
}

@include media-breakpoint-lg {
  .about {
    .group-company {
      &__text-row,
      &__image-row {
        max-width: 700px;
      }
    }

    .partnership {
      &__image {
        width: 80%;
      }
    }
  }
}

@include media-breakpoint-xxxl {
  .about {
    .bsi-team {
      &__item {
        height: calc(340px + 10vw);
      }
    }
  }
}
