@import 'config';

.exchange {
  @include page-gradient();

  .page-header {
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    text-transform: uppercase;

    h1,
    h2 {
      font-weight: 600;
    }

    &__title {
      margin-bottom: 1.2rem;
    }

    &__subtitle {
      font-size: 1rem;

      &--one {
        margin-bottom: 1.2rem;
        letter-spacing: 2px;
      }

      &--two {
        letter-spacing: 4px;
      }
    }
  }

  .exchange-list {
    &__accordion {
      margin: 0 auto;

      &-item {
        background: rgb(6, 0, 103);
        background: linear-gradient(
          90deg,
          $gradient-from 20%,
          $gradient-to 100%
        );
        margin-bottom: 2rem;
        border-radius: $border-radius;
        border: none;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8);
      }

      &-header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $primary-color;
        background: url('/img/sean-pollock-low-angle-building.jpg') no-repeat
          center/cover;
        padding: 1rem 1.4rem;
        border-radius: $border-radius;
        color: white;

        h3 {
          margin-bottom: 0;
          text-align: center;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            90deg,
            $gradient-from 0%,
            $gradient-to 100%
          );
          border-radius: $border-radius;
          opacity: 0.9;
          content: '';
        }
      }

      &-platform {
        flex: 1;
        margin-bottom: 1rem;
        z-index: 2;

        &-img {
          width: 100%;
          height: auto;
        }
      }

      &-trigger {
        @include light-button();
        z-index: 2;
        padding: 0.3rem 0.7rem;
        text-transform: uppercase;
      }

      &-body {
        background: rgb(6, 0, 103);
        background: linear-gradient(
          90deg,
          $gradient-from 20%,
          $gradient-to 100%
        );
        padding-bottom: 2rem;
        border: none;
        border-radius: 0 0 $border-radius $border-radius;
        color: white;
      }

      &-text {
        margin-bottom: 2rem;
      }

      &-control {
        @include flex-center();
        justify-content: flex-end;
      }

      &-buy {
        @include light-button();
        text-transform: uppercase;
      }
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-md {
  .exchange {
    .page-header {
      &__subtitle {
        font-size: 1.1rem;

        &--one {
          letter-spacing: 3px;
        }

        &--two {
          letter-spacing: 6px;
        }
      }
    }

    .exchange-list {
      &__accordion {
        width: 90%;

        &-header {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 160px;
        }

        &-platform {
          flex: 0 0 60%;
          margin-bottom: 0;
        }

        &-trigger {
          align-self: flex-end;
        }
      }
    }
  }
}
