.homepage {
  // background: fixed url('/img/home-banner-1.png') center/cover no-repeat;
  // background-position: center center;
  // background-size: cover;
  // background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  background-repeat: no-repeat;
}

.homepage .banner {
  position: relative;
  height: 100vh;
}

.homepage .carousel .active.left {
  left:0;
  opacity:0;
  z-index:2;
}

.homepage .banner .carousel-inner {
  height: 100%;
}

.homepage .banner .carousel-item {
  height: 100%;
  background-color: var(--green);
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage .banner .carousel-item--01 {
  background-image: url('/img/home-banner-1.png');
  background-position: center;
}

.homepage .banner .carousel-item--02 {
  background-image: url('/img/home-banner-2.png');
  background-position: center;
}

.homepage .banner .carousel-item--03 {
  background-image: url('/img/home-banner-3.png');
  background-position: center;
}

.homepage .banner__carousel {
  height: 100%;
}

.homepage .banner__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: white;
}

.homepage .banner__info .container {
  height: 100%;
}

.homepage .banner__info .row {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.homepage h1.banner__info-headline {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  color: white;
}

.homepage .banner__info-excerpt {
  text-align: justify;
  text-justify: inter-word;
}

.homepage button.btn{
  background-color: #0084ff;
  color: #ffffff;
  width: 150px;
  border-radius: 10px;
  margin-top: 2rem;
  font-size: 1.3rem;
  margin-left: 7px;
  font-weight: 200;
}

@media screen and (min-width: 1600px) {
  
  .homepage p.text_small{
      font-size: 2.3rem;
      color: #ffffff;
      font-weight: 600;
  }

  .homepage .contact .contact-info__item-contact {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .homepage {
    background-position: 80% center;
  }
  
}

@media screen and (max-width: 576px) {
  .homepage p.text_small{
      font-size: 1.3rem;
      color: #ffffff;
      font-weight: 600;
  }
  
  .homepage .text_global{
      margin-left: -1rem;
      text-align: center;
  }
}
