.homepage .page-section {
  margin-top: 1rem;
}
.homepage .text_global {
  margin-left: 4rem;
}
.homepage p.text_small {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
}

.homepage h4.display-4 {
  font-weight: 700;
  font-size: 7rem;
  color: white;
}
.homepage h6.display-3 {
  font-weight: 700;
  font-size: 6rem;
  color: white;
}

.homepage button.primary-btn {
  margin-top: 3rem;
  background-color: #006effcb;
  color: white;
  border-radius: 10px;
  font-size: 1.8rem;
}

.homepage {
  background: fixed url('/img/home-banner-1.png') center/cover no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
  position: relative;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1600px) {
  .homepage p.text_small {
    font-size: 2.3rem;
    color: #ffffff;
    font-weight: 600;
  }
  .contact .contact-info__item-contact {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .homepage {
    background-position: 80% center;
  }
}

@media screen and (max-width: 576px) {
  .homepage p.text_small {
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 600;
  }
  .homepage .text_global {
    margin-left: -1rem;
    text-align: center;
  }
}
