@import 'config';

.home {
  .main-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .banner {
    position: relative;
    margin-bottom: 4rem;

    .carousel {
      width: 100%;
      height: calc(100vh - 56px);
      z-index: 1;

      &-inner {
        width: 100%;
        height: 100%;
      }

      &-item {
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 85% 50%;

        &--01 {
          background-image: url('/img/home-banner-01.png');
        }

        &--02 {
          background-image: url('/img/home-banner-02.png');
        }

        &--03 {
          background-image: url('/img/home-banner-03.png');
        }
      }
    }

    &__info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      z-index: 2;

      .container {
        height: 100%;
      }

      .row {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &-title {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  .introduction {
    &__title {
      color: $primary-color;
    }

    &__body {
      margin: 0 auto;
      max-width: 760px;
      text-align: center;
    }
  }

  .page-banners {
    &__item {
      padding: 5rem 0;
      background-color: $primary-color;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;

      &-title {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      &-link {
        @include light-button();
        font-size: inherit;
      }

      &--service {
        background-image: url('/img/home-banner-service.png');
        background-position: 80% center;
      }

      &--about {
        background-image: url('/img/home-banner-about.png');
        background-position: 85% center;
      }

      &--contact {
        background-image: url('/img/home-banner-contact.png');
        background-position: 88% center;
      }

      &--exchange {
        background-image: url('/img/home-banner-exchange.png');
        background-position: 88% center;
      }
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-md {
  .home {
    .banner {
      &__info {
        .row {
          flex-direction: row;
          justify-content: start;
        }
      }
    }
  }
}

@include media-breakpoint-xl {
  .home {
    .banner {
      &__info {
        &-title {
          font-size: 3rem;
          margin-bottom: 1.4rem;
        }
      }
    }

    .introduction {
      &__body {
        max-width: 940px;
      }
    }
  }
}

@include media-breakpoint-xxl {
  .home {
    .page-banners {
      &__item {
        &-title {
          font-size: 2.2rem;
        }
      }
    }
  }
}

@include media-breakpoint-xxxl {
  .home {
    .banner {
      margin-bottom: 10rem;

      &__info {
        &-title {
          font-size: 3.4rem;
        }
      }
    }

    .page-banners {
      &__item {
        &-title {
          font-size: 2.7rem;
        }
      }
    }
  }
}
