.service {
    background: fixed url('/img/service-backg.png') center/cover no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: relative;
    width: 100vw;
    height: 100vh;
    // padding-top: 3rem;
    position: relative;
    background-repeat: no-repeat;
  }


// ========== Viaje Ecosystem =========//

.service .viaje_ecosystem{
    padding-bottom: 100px;
  }

.service p.small{

    margin-top: 3rem;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
}
.service h4.big-title{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5rem;
    
}

.service .viaje_ecosystem_picture{
  margin-top: 100px;
}

.service img.viaje_ecosystem_icon{
    width: 65%;
    height: 0 auto;
}

// ====VIAJE PLATFORM PAGE=========//

.service p.small-1{
    // margin-top: 3rem;
    color: #ffffff;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.service h4.big-title1{
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
}

.service .viaje_platform{
padding-top: 100px;
padding-bottom: 3rem;
}
.service img.viaje_platform_picture{
    // width: 400px;
    width: 70%;
    margin-top: 5rem;
}
// .service .viaje_platform_page{
//     padding-top: 3rem;
//     margin-left: 3rem;
// }

// ====META CONCERT======//

.service .meta_img{
    width: 700px;
}
.service img.meta-concert-img{
    width: 100%;
    height: 0 auto;
    margin-left: 3rem;
    margin-top: 1.8rem;       
}

.service .meta_concert_illust{
    padding-top: 100px;
    padding-bottom: 120px;
}
.service h4.big-title2{
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
}

@media screen and (max-width: 576px) {
    
    .service p.small{
        margin-top: 3rem;
        color: #ffffff;
        text-align: center;
        justify-content: center;
        margin-bottom: 3rem;
        font-size: 1.3rem;
    }
    .service p.small-1{
        margin-top: 3rem;
        color: #ffffff;
        justify-content: center;
        margin-bottom: 3rem;
        font-size: 1.3rem;
    }
    .service {
        background-position: 80% center;
      }
    .service img.viaje_platform_picture{
        // width: 400px;
        width: 400px;
        text-align: center;
    }
    .service img.viaje_ecosystem_icon{
          width: 350px;
          height: 0 auto;
          text-align: center;
          margin-left: 1.5rem;
      }
    .service img.meta-concert-img{
      width: 10px;
      height: 0 auto; 
      justify-content: center;    
  }
 

  }
  
  
@media screen and (max-width: 992px) {
    .service {
      background-position: 80% center;
    }
    .service img.viaje_ecosystem_icon{
        width: 400px;
        height: 0 auto;
        text-align: center;
    }
    .service img.meta-concert-img{
    width: 450px;
    height: 0 auto;     
}
.service img.platform_art-img{
    width: 450px;
    height: 0 auto;
}
    
  }