@import 'config';

.about {
  @include page-gradient();
  color: white;

  .group-company {
    position: relative;
    background-color: transparent;

    &::before {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($gradient-dark-blue, 0.85);
      content: '';
    }

    &__col {
      z-index: 2;
    }

    &__image {
      width: 100%;
      height: auto;
    }
  }

  .bsi-team {
    &__title {
      text-align: center;
    }

    &__row {
      &--images {
        justify-content: center;
      }
    }

    &__col {
      margin-bottom: 2rem;
    }

    &__item {
      padding: 1.3rem;
      border-radius: 2rem;
      background: $primary-color;
      background: linear-gradient(
        100deg,
        $gradient-light-blue 0%,
        $gradient-dark-blue 50%
      );

      &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1.4rem;
      }

      &-image {
        width: 160px;
        height: auto;
        margin-bottom: 1rem;
      }

      &-metadata {
        width: 100%;
        text-align: center;
      }

      &-name {
        font-weight: 600;
      }

      &-title {
        margin-bottom: 0;
        font-size: 1.1rem;
      }

      &-read-more {
        padding: 0;
        color: white;
      }
    }
  }

  .partnership {
    &__title {
      text-align: center;
    }

    &__body {
      margin-bottom: 2rem;
    }

    &__level {
      &-row {
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
      }

      &-col {
        text-align: center;
      }
    }

    &__image {
      width: 100%;
    }
  }
}

/* =============== Breakpoints =============== */

@include media-breakpoint-sm {
  .about {
    .partnership {
      &__level {
        &-row {
          margin-bottom: 1.5rem;
        }
      }

      &__level {
        &-three {
          width: 70%;
          margin: auto;
        }
      }
    }
  }
}

@include media-breakpoint-md {
  .about {
    .group-company {
      &__text-row,
      &__image-row {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .bsi-team {
      &__item {
        max-width: 630px;
        margin: 0 auto;
        padding: 2rem;
        background: linear-gradient(
          100deg,
          $gradient-light-blue 0%,
          $gradient-dark-blue 70%
        );

        &-header {
          flex-direction: row;
        }

        &-metadata {
          text-align: left;
        }

        &-image {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }

    .partnership {
      &__body {
        max-width: 740px;
        margin: 0 auto 2rem;
      }

      &__images {
        &-row {
          width: 80%;
          margin: auto;
        }
      }

      &__image {
        &--coco {
          width: 80%;
        }
      }
    }
  }
}

@include media-breakpoint-lg {
  .about {
    .group-company {
      &__text-row,
      &__image-row {
        max-width: 700px;
      }
    }

    .bsi-team {
      &__item {
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-xl {
  .about {
    .bsi-team {
      &__item {
        &-name {
          font-size: 1.5rem;
        }
      }
    }

    .partnership {
      &__body {
        max-width: 940px;
      }
    }
  }
}

@include media-breakpoint-xxl {
  .about {
    .bsi-team {
      &__item {
        &-title {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@include media-breakpoint-xxxl {
  .about {
    .bsi-team {
      &__item {
        &-name {
          font-size: 1.7rem;
        }

        &-title {
          font-size: 1.4rem;
        }
      }
    }

    .partnership {
      &__body {
        max-width: 1200px;
      }
    }
  }
}
