@import 'config';

// $primary-color: #002b42;
// $secondary-color: #005a3f;
// $body-black: rgba(black, 0.85);
// $body-white: #fff;
// $border-radius: 10px;

.image-banner{
  width: 300px;
  height: 300px;
  float: left;
  // margin-left: 10rem;
  // bottom: 5rem;
}

.ticket__metaverse{
  background-image: url('/img/dream-concert-28-poster.png');
  background-size: cover;
  background-position: center;
  height: fit-content;
  padding-bottom: 100px;
}

.ticket__metaverse{
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
  opacity: 0.3; 
  background-size: cover;
}
.text-image{
  width: 100px;
  height: auto;
}
.card{
  border-radius: 3rem;
  border: 0.9rem #D0946D solid;
}
// .ticket_card{
//   flex-direction: column;
//   flex-wrap: wrap;
  
// }
.card-body{
  background-color: #E9DECB;
  border-radius: 2rem;
}
.card-title{
  font-weight: 700;
  font-size: 3rem;
  margin-left: 3rem;
  
}
.card-text{
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 3rem;
}

section.ticket__metaverse{
  padding-top: 20px;
  padding-bottom: 120px;
}

// .card_small_text{
//   font-weight: 700;
//   font-size: 1rem;
//   background-color: #005a3f;
// }
.text__small{
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 3rem;
  flex-direction: row;
}

.input__ticket{
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
}
.form-control{
  width: 250px;
  height: 50px;
  margin-left: 2rem;
}

.text__input{
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5px;  
}

////=====Button Exchange=====///

.button__exchange{
  float: right;
}
.btn__BUY{
  background-color: #FFF;
  width: 200px;
  height: 50px;
  border-radius: 1rem;
  font-weight: 600;
}
.btn__Exchange{
  background-color: #51B2AA;
  width: 200px;
  height: 50px;
  border-radius: 1rem;
  font-weight: 600;
}

// ========Powered By=========//

.powered{
  padding-top:120px;
  background: #EEEEEE;
  padding-bottom: 120px;
}

.text__powered{
  // font-size: 1rem;
  // font-weight: 700;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
.text__powered_by{
  font-weight: 500;
  font-size: 1rem;
}

// .logo__custom{
//   display: flex;
//   flex-direction: row;
// }

.logo__partner{
  margin-left: 4rem;
  width: auto;
  height: 55px;
}

.logo__digifinex{
  width: auto;
  height: 55px;
  margin-left: 1rem;
}

.concert__start{
  float: right;
  display: flex;
  // margin-left: 2rem;
}
.text__start{
  margin-left: 7rem;
}

.date__concert{
  margin-left: 3rem;
}


//=======Page Number======//
.number__tag{
  display: inline;
  display: flex;
}
.page__number{
  padding-top: 120px;
  padding-bottom: 100px;
}

.number__1{
  width: 120px;
  height: 80px;
  text-align: center;
  background-color: #51B2AA;
  border-radius: 50%;
  margin-right: -2.5rem;
  backface-visibility: hidden;

}

.text__number{
  background-color: #EEEEEE;
  height: 80px;
  width: 55rem;
  margin-left: -1.5rem;
  border-radius: 40px;
}

.custom__number{
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
  color: #FFF;
}
.custom__text{
  font-size: 1.2rem;
  font-weight: 700;
  text-align: justify;
  margin-left: 4.3rem;
  margin-top: 1rem;
}

.text__2{
  margin-top: 50px;
  margin-left: 200px;
}

.text__3{
  padding-top: 50px;
  padding-left: 500px;
}

////=======Iframe Section========///

.intro-video{
  // padding-top: 10px;
  // padding-bottom: 100px;
  background-color: #EEEEEE;
}
.intro-video__iframe {
  width: 100%;
  height: 600px;
}
.btn__Exchange1{
  margin-top: 1rem;
  background-color: #51B2AA;
  width: 200px;
  height: 50px;
  border-radius: 1rem;
  font-weight: 600;
}

///====== Section page about Dream concert =======////

.about__dream__concert{
  padding-top: 120px;
  padding-bottom: 120px;
}

.About__title {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin-bottom: 1rem;
}

.dream__concert__about{
  text-align: justify;
}
.thumbnail_custom{
  margin-top: 2rem;
}

//=======/////

.page__reminder{
  padding-top: 120px;
  padding-bottom: 120px ;
}
.custom_Frame1{
  width: 400px;
  height: auto;
}

.custom_Frame2{
  width: 600px;
  height: auto;
}

.text__notice{
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.text__small__notice{
  font-size: 2.5rem;
  font-weight: 600;
}

